@import "../bootstrap/scss/bootstrap";
@import "mockup";
// @import "reset";

//////////
//Colors//
//////////
$border-color: #e4e4e4;
$clear: rgba(0, 0, 0, 0);
$dark-font: #3a3a3a;
$error-font: #df4e60;
$light-font: #8e8e8e;
$unvalidated-color: #d0d0d0;
$unvalidated-hover: #9e9e9e;
$validated-color: #79b74d;
$validated-hover: #60913d;



a,
a:hover {
    color: $validated-color;
}

.btn,
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: $unvalidated-color;
    cursor: pointer;
}

body {
    color: $light-font;
    font-size: 16px;
}

.container-fluid {
    max-width: 1200px;
}

.exponent {
    color: $light-font;
    font-size: 35px;
    position: absolute; 
    @include media-breakpoint-up(sm) {
        font-size: 20px; 
    }
    @include media-breakpoint-up(md) {
        font-size: 42px; 
    }
    @include media-breakpoint-up(lg) {
        font-size: 53px; 
    }
}

input,
select {
    -moz-appearance: none;
    -o-text-overflow: '';
    -webkit-appearance: none;
    background-color: $clear;
    border-radius: 8px;
    border: 2px solid $border-color;
    font-weight: 500;
    outline: none; 
    padding-left: 1px;
    text-overflow: '';
    @include media-breakpoint-up(sm) {
        border-radius: 5px;
        border: 1px solid $border-color;
    }
}

select::-ms-expand {
    display: none;
}

.name-form-submit-button:hover,
.email-form-submit-btn:hover {
    background-color: $unvalidated-hover;
}

.name-form:valid .name-form-submit-button,
.email-form:valid .email-form-submit-btn {
    background: $validated-color;
}

.name-form:valid .name-form-submit-button:hover,
.email-form:valid .email-form-submit-btn:hover {
    background: $validated-hover;
}



//////////
//header//
//////////
header {
    border-bottom: 2px solid $border-color;
    padding-bottom: 12px;
    @include media-breakpoint-up(sm) {
        padding-bottom: 1px;
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 5px;
    }
    @include media-breakpoint-up(lg) {
        padding-bottom: 9px;
    }
    .bloom-logo {
        height: 61px;
        margin: 11px 0px 0px 1px;
        @include media-breakpoint-up(sm) {
            height: 37px;
            margin-top: 8px;
        }
        @include media-breakpoint-up(md) {
            height: 39px;
            margin-top: 14px;
        }
        @include media-breakpoint-up(lg) {
            height: 52px;
            margin: 9px 0px 0px 28px;
        }
    }
    .rates-logo {
        height: 38px;
        margin-top: -3px;
        width: 227px;
        @include media-breakpoint-up(sm) {
            height: 30px;
            margin-top: -3px;
            width: 140px;
        }
        @include media-breakpoint-up(md) {
            height: 26px;
            margin-top: -7px;
            width: 147px;
        }
        @include media-breakpoint-up(lg) {
            height: 33px;
            margin: 19px 20px 0px 0px;
            width: 195px;
        }
    }
}

////////////////////
//second-container//
////////////////////
.second {
    max-width: 370px;
    padding: 19px 18px 65px 18px;
    @include media-breakpoint-up(sm) {
        padding: 18px 15px 35px 15px; 
    }
    @include media-breakpoint-up(md) {
        max-width: 700px;
        padding: 36px 15px 52px 15px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 1100px;
        padding: 67px 15px 109px 0px; 
    }
    .form-wrapper {
        border: 2px solid $border-color;
        height: 792px;
        margin-top: 18px;
        max-width: 354px;
        @include media-breakpoint-up(sm) {
            height: 482px;
            margin-top: 0px; 
            max-width: 290px;
        }
        @include media-breakpoint-up(md) {
            height: 505px;
            margin-left: 57px;
            max-width: 300px;
        }
        @include media-breakpoint-up(lg) {
            height: 633px;
            margin-left: -35px;
            max-width: 490px; 
        }

/////////////
//NAME FORM//
/////////////
        .name-form-div {
        	@include media-breakpoint-up(sm) {
                padding: 32px 15px 0px 15px;
            }
            @include media-breakpoint-up(md) {
                padding: 32px 4px 0px 4px;
            }
            .esp-text {
            	white-space: nowrap;
                color: $dark-font;
                font-size: 1.8em;
                font-weight: 500;
                line-height: 40px;
                margin-top: 50px;
                text-align-last: justify;
                @include media-breakpoint-up(sm) {
                    font-size: 1.3em;
                    line-height: 30px;
                    margin-top: 0px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 1.4em;
                    line-height: 31px;
                    margin-top: 4px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.9em;
                    line-height: 42px;
                    margin: 6px 50px 0px 50px;
                }
            }
            .first-name-text {
                font-size: 1.4em;
                font-weight: 200;
                letter-spacing: 1px;
                margin: 50px 0px 0px 0px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.8em;
                    letter-spacing: 0px;
                    margin-top: 30px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.85em;
                    margin-top: 32px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.15em;
                    margin-top: 41px;
                }
            }
            .first-name-input {
                height: 55px;
                margin-top: 9px;
                text-transform: capitalize;
                width: 95%;
                @include media-breakpoint-up(sm) {
                    height: 33px;
                    margin: 7px 0px 0px -4px;
                    width: 236px;
                }
                @include media-breakpoint-up(md) {
                    height: 35px;
                    margin: 6px 0px 0px 2px;
                    width: 246px;
                }
                @include media-breakpoint-up(lg) {
                    height: 46px;
                    margin: 10px 0px 0px 0px;
                    width: 400px;
                }
            }
            .first-name-input-error {
                color: $error-font;
            }
            .born-on-text {
                font-size: 1.4em;
                font-weight: 200;
                letter-spacing: 1.2px;
                margin-top: 37px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.8em;
                    letter-spacing: 0px;
                    margin: 28px 0px 0px 0px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.85em;
                    margin: 29px 0px 0px 0px; 
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.15em;
                    margin: 39px 0px 0px 0px; 
                }
            }
            .drop {
                color: $light-font;
                font-size: 1.4em;
                font-weight: 200;
                height: 52px; 
                letter-spacing: 1.5px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.9em;
                    height: 32px;
                    letter-spacing: 0px;
                }
                @include media-breakpoint-up(md) {
                    height: 33px; 
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.15em; 
                    height: 44px;
                }
            }
            .month-drop {
                margin: -5px 0px 0px 5px;
                padding-left: 12px;
                width: 95%;
                @include media-breakpoint-up(sm) {
                    left: 25px;
                    margin: 6px 0px 0px 0px;
                    padding-left: 5px;
                    position: absolute;
                    width: 105px;
                }
                @include media-breakpoint-up(md) {
                    left: 25px; 
                    margin: 7px 0px 0px 0px;
                    padding-left: 5px;
                    width: 110px;
                }
                @include media-breakpoint-up(lg) {
                    left: 77px; 
                    margin: 9px 0px 0px 0px;
                    padding-left: 7px;
                    width: 147px;
                }
            }
            .day-drop {
                margin: 9px 0px 0px 5px;
                padding-left: 12px;
                width: 47%;
                @include media-breakpoint-up(sm) {
                    margin: 6px 0px 0px 0px;
                    padding-left: 3px;
                    position: absolute;
                    right: 94px;
                    width: 55px;
                }
                @include media-breakpoint-up(md) {
                    margin: 7px 0px 0px 0px;
                    right: 97px; 
                    width: 58px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 9px 0px 0px 0px;
                    padding-left: 6px;
                    right: 176px;
                    width: 78px;
                }
            }
            .year-drop {
                margin-top: 8px;
                padding-left: 20px;
                width: 47%;
                @include media-breakpoint-up(sm) {
                    margin: 6px 0px 0px 0px;
                    padding-left: 3px;
                    position: absolute;
                    right: 23px;
                    width: 65px;
                }
                @include media-breakpoint-up(md) {
                    margin: 7px 0px 0px 0px;
                    right: 23px;
                    width: 68px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 9px 0px 0px 0px;
                    padding-left: 5px;
                    right: 78px;
                    width: 90px;
                } 
            }
            .retire-drop {
                height: 50px;
                margin: 12px 0px 0px 4px;
                padding-left: 15px;
                width: 92px;
                @include media-breakpoint-up(sm) {
                    height: 30px;
                    margin: 6px 0px 0px 7px;
                    padding-left: 8px;
                    width: 56px;
                }
                @include media-breakpoint-up(md) {
                    height: 32px; 
                    margin: 8px 0px 0px 6px;
                    width: 58px;
                }
                @include media-breakpoint-up(lg) {
                    height: 42px;
                    margin: 10px 0px 0px 3px;
                    padding-left: 13px;
                    width: 77px;
                }
            }

            .fa {
                position: absolute;
                right: 0;
				left: 0;
                z-index: -10; 
                @include media-breakpoint-up(sm) {
                    font-size: 1.4em;
                    margin: 0px 0px 0px 5px; 
                }
                @include media-breakpoint-up(lg) {
                    font-size: 2em;
                }
            }
            .fa1 {
                margin: 5px 0px 0px 240px;
                @include media-breakpoint-up(sm) {
                    margin: 10px 0px 0px -58px;
                }
                @include media-breakpoint-up(md) {
                    margin: 12px 0px 0px -60px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 15px 0px 0px -83px;
                }
            }
            .fa2 {
                margin: 66px 0px 0px -61px;
                @include media-breakpoint-up(sm) {
                    margin: 12px 0px 0px 75px;
                }
                @include media-breakpoint-up(md) {
                    margin: 12px 0px 0px 77px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 15px 0px 0px 99px;
                }
            }
            .fa3 {
                margin: 18px 0px 0px 245px;
                @include media-breakpoint-up(sm) {
                    margin: 11px 0px 0px 215px;
                }
                @include media-breakpoint-up(md) {
                    margin: 12px 0px 0px 222px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 15px 0px 0px 294px;
                }
            }
            .fa4 {
                margin: 21px 0px 0px 46px;
                @include media-breakpoint-up(sm) {
                    margin: 10px 0px 0px 32px;
                }
                @include media-breakpoint-up(md) {
                    margin: 13px 0px 0px 31px;
                }
                @include media-breakpoint-up(lg) {
                    margin: 15px 0px 0px 41px;
                }
            }
            .alarm-font {
                font-size: 1.3em;
                letter-spacing: 0.9px;
                margin: 37px 0px 0px 0px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.8em;
                    letter-spacing: 0px;
                    margin-top: 42px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.8em;
                    letter-spacing: 0.2px;
                    margin: 45px 20px 0px 20px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.15em;
                    letter-spacing: 0.1px;
                    margin: 67px 10px 0px 5px; 
                }
            }
            .name-form-submit-button {
                border-radius: 7px;
                font-size: 1.6em;
                height: 58px;
                letter-spacing: 0.8px;
                margin: 46px 0px 0px 2px;
                padding-top: 2px;
                width: 205px;
                @include media-breakpoint-up(sm) {
                    border-radius: 3px;
                    font-size: 0.95em;
                    height: 35px;
                    letter-spacing: 0px;
                    margin: 33px 0px 0px 3px;
                    padding-top: 3px;
                    width: 124px;
                }
                @include media-breakpoint-up(md) {
                    height: 36px; 
                    margin: 34px 0px 0px 0px;
                    width: 129px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.3em;
                    height: 49px;
                    letter-spacing: 0.8px;
                    margin: 40px 0px 0px -2px;
                    padding-top: 4px; 
                    width: 173px;
                }
            }
            .age-error-text {
                color: $error-font;
                font-size: 1.2em;
                margin: 10px 0px 0px 0px; 
                @include media-breakpoint-up(sm) {
                    font-size: 0.9em; 
                }
                @include media-breakpoint-up(md) {
                    font-size: 1.1em;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.4em;
                }
            }
        } 
//////////////
//EMAIL FORM//
//////////////
        .email-form-div {
            .first-things-text {
                font-size: 1.8em;
                letter-spacing: 1px;
                line-height: 41px;
                margin: 63px 20px 0px 20px;
                @include media-breakpoint-up(sm) {
                    font-size: 1.2em;
                    letter-spacing: 0.9px;
                    line-height: 30px;
                    margin: 34px 0px 0px 0px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 1.4em;
                    letter-spacing: 1.2px;
                    line-height: 32px;
                    margin: 35px 0px 0px -16px;
                    width: 300px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 2em;
                    letter-spacing: 0.7px;
                    line-height: 41px;
                    margin: 41px 0px 0px 5px;
                    width: 440px;
                }
            }
            .why-create-account-text {
                font-size: 1.2em; 
                line-height: 34px; 
                margin: 18px 0px 0px 0px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.8em;
                    line-height: 21px; 
                    margin: 7px 9px 0px 9px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.8em;
                    line-height: 22px;
                    margin: 7px 0px 0px -11px;
                    width: 290px; 
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.2em;
                    line-height: 29px;
                    margin: 12px 0px 0px 18px;
                    width: 425px;
                }
            }
            .email-input {
                font-size: 1.35em;
                font-weight: 300;
                height: 62px;
                margin: 57px 0px 0px 0px;
                padding-top: 0px; 
                width: 303px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.8em;
                    height: 38px;
                    margin: 49px 0px 0px 0px;
                    width: 235px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.85em;
                    height: 39px;
                    margin: 60px 0px 0px 2px;
                    padding-bottom: 2px;
                    width: 247px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.2em;
                    height: 52px;
                    margin: 71px 0px 0px 0px;
                    padding-bottom: 3px;
                    width: 400px;
                }
            }
            .email-error-div {
            	position: relative;
                color: $error-font;
                font-weight: 200;
                margin: 0px 20px 0px 20px;
                @include media-breakpoint-up(sm) {
                    margin: 0px 12px 0px 12px;
                }
                .email-error-text {
                	position: absolute;
                	left: 0;
                	right: 0;
                	white-space: nowrap;
                    font-size: 1.04em;
                    line-height: 22px;
                    margin: 13px 0px 0px 32px;
                    @include media-breakpoint-up(sm) {
                        font-size: 0.635em;
                        margin: 4px 0px 0px 18px;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 0.665em;
                        margin: 5px 0px 0px 19px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 0.88em;
                        margin: 11px 0px 0px 75px;
                    }
                }
                .exclamation {
                	position: absolute;
                	left: 0;
                	right: 0;
                    height: 23px;
                    margin: 10px 0px 0px 2px;
                    width: 25px;
                    @include media-breakpoint-up(sm) {
                        height: 15px;
                        margin: 8px 0px 0px 0px;
                        width: 15px;
                    }
                    @include media-breakpoint-up(md) {
                        margin: 9px 0px 0px 0px;
                    }
                    @include media-breakpoint-up(lg) {
                        height: 20px;
                        margin: 12px 0px 0px 50px;
                        width: 20px;
                    }
                }
            }
            .email-form-submit-btn {
                font-size: 1.6em;
                height: 57px;
                margin: 105px 0px 0px 2px;
                padding-top: 0px;
                width: 202px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.95em;
                    height: 35px;
                    margin: 64px 0px 0px 1px;
                    padding-top: 2px;
                    width: 123px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 1em;
                    height: 36px;
                    margin: 60px 0px 0px 2px;
                    padding-top: 3px;
                    width: 130px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 1.4em;
                    height: 49px;
                    margin: 73px 0px 0px 1px;
                    padding-top: 4px;
                    width: 173px;
                }
            }
            .have-account-text {
                letter-spacing: 0.01em;
                margin: 16px 0px 0px -1px;
                @include media-breakpoint-up(sm) {
                    font-size: 0.57em;
                    letter-spacing: 0.01em;
                    margin: 11px 0px 0px 0px;
                }
                @include media-breakpoint-up(md) {
                    font-size: 0.6em;
                    margin: 12px 0px 0px 2px; 
                }
                @include media-breakpoint-up(lg) {
                    font-size: 0.83em;
                    margin: 15px 0px 0px 2px; 
                }
            }
        }
    } 

///////////////   
//PIG WRAPPER//
///////////////
    .pig-wrapper {
    	padding: 0px;
        @include media-breakpoint-up(md) {
            max-width: 300px; 
        }

        @include media-breakpoint-up(lg) {
            max-width: 490px; 
        }
        .checkup-text {
        	padding: 0px 10px 0px 10px;
            color: $dark-font;
            font-size: 2.2em;
            font-weight: 600;
            line-height: 47px;
            text-align-last: justify;
            @include media-breakpoint-up(sm) {
            	text-align-last: center;
                font-size: 1.6em;
                letter-spacing: 1.1px;
                line-height: 29px;
            }
            @include media-breakpoint-up(md) {
            	text-align-last: left;
                font-size: 3em;
                letter-spacing: 1px;
                line-height: 56px;
                margin: 30px 0px 0px 6px; 
            }
            @include media-breakpoint-up(lg) {
                font-size: 4.2em;
                font-weight: 500;           
                letter-spacing: 2px;
                line-height: 75px;
                margin: 37px 0px 0px -6px;
            }
        }
        .stacks-text {
        	// white-space: nowrap;
            font-size: 1.15em;
            text-align-last: justify;
            @include media-breakpoint-up(sm) {
                font-size: 0.76em;
                margin-top: -2px;
            }
            @include media-breakpoint-up(md) {
                margin: 8px 0px 0px 15px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 1.3em;
                margin: 17px 0px 0px 3px;
            }
        }
        .pig-logo {
            width: 270px;
            height: 125px;
            margin: 25px 0px 0px -28px;
            @include media-breakpoint-up(md) {
                margin: 41px 0px 0px -28px;
            }
            @include media-breakpoint-up(lg) {
                height: 193px;
                margin: 66px 0px 0px 4px;
                width: 430px;
            }
        }
    }
}

///////////////////
//third-container//
///////////////////
.third {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    max-width: 350px; 
    padding: 56px 0px 41px 0px;
    @include media-breakpoint-up(sm) {
        max-width: 370px;
        padding: 48px 0px 33px 0px; 
    }
    @include media-breakpoint-up(md) {
        max-width: 545px;
        padding: 48px 0px 63px 0px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 90vw;
        padding: 48px 0px 104px 0px;
        width: 1078px;
    }
    .disclaimer-heading {
        font-size: 2.2em;
        letter-spacing: 1.3px;
        @include media-breakpoint-up(sm) {
            font-size: 1.25em;
            letter-spacing: 1.2px;
            padding: 0px 0px 0px 1px;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.35em;
            padding: 17px 0px 2px 1px;
            letter-spacing: 1px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.8em;
            padding: 61px 0px 2px 1px;
            letter-spacing: 1.5px;
        }
    }
    .disclaimer-text {
        font-size: 1.05em;
        letter-spacing: 0.75px;
        line-height: 33px;
        padding-top: 8px;
        @include media-breakpoint-up(sm) {
            font-size: 0.6em;
            letter-spacing: 0.4px;
            line-height: 20px;
            padding-top: 0px;
        }
        @include media-breakpoint-up(md) {
            font-size: 0.7em;
            letter-spacing: 0px;
            line-height: 21px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 0.99em;
            line-height: 28px; 
            padding-top: 5px;
        }
    }
}

///////////////////
//fourth-container//
///////////////////
.fourth {
    color: $dark-font;
    padding: 44px 0px 0px 0px;
    width: 235px;
    @include media-breakpoint-up(sm) {
        padding: 49px 0px 0px 5px; 
        width: 275px;
    }
    @include media-breakpoint-up(md) {
        height: 336px;
        padding: 63px 0px 0px 0px;
        width: 475px;
    }
    @include media-breakpoint-up(lg) {
        height: 480px;
        padding: 113px 0px 0px 10px;
        width: 675px;
    }
    .fourth-over {
        font-size: 1.8em;
        font-weight: 500;
        letter-spacing: 1px;
    }
    @include media-breakpoint-up(sm) {
        font-size: 0.6em;
    }
    @include media-breakpoint-up(md) {
        font-size: 0.8em;
    }
    @include media-breakpoint-up(lg) {
        font-size: 1.1em;
    }
    .billion-text {
        font-size: 4.3em;
        font-weight: 500;
        letter-spacing: 3px;
        line-height: 97px;
        padding: 6px 0px 0px 0px;
        position: relative;
        @include media-breakpoint-up(sm) {
            letter-spacing: 2.5px;
            margin: -14px 0px 0px -14px;
            padding: 0px 0px 0px 0px;
        }
        @include media-breakpoint-up(md) {
            font-size: 6.3em;
            letter-spacing: 4px;
            margin: 14px 0px 0px -4px;
        }
        @include media-breakpoint-up(lg) {
            margin: 39px 0px 0px -4px;
        }
        .exponent {
            margin: -22px 0px 0px 3px;
            @include media-breakpoint-up(sm) {
                margin: -15px 0px 0px 135px;
            }
            @include media-breakpoint-up(md) {
                margin: -23px 0px 0px 247px;
            }
            @include media-breakpoint-up(lg) {
                margin: -30px 0px 0px 330px;
            }
        }
    }
    .assets-text {
        border-bottom: 1px solid $border-color;
        font-size: 1.9em;
        line-height: 40px;
        margin-top: 15px;
        padding-bottom: 86px;
        @include media-breakpoint-up(sm) {
            font-size: 1.8em;
            font-weight: 400;
            letter-spacing: 0.3px;
            margin-top: -26px;
            padding-bottom: 29px;
        }
        @include media-breakpoint-up(md) {
            left: 0;
            letter-spacing: 0.5px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 34px;
            padding-bottom: 52px;
            position: absolute;
            right: 0;
            width: 290px;
        }
        @include media-breakpoint-up(lg) {
            letter-spacing: 0.5px;
            padding: 33px 0px 78px 5px;
            width: 390px; 
        }
    }
}

///////////////////
//fifth-container//
///////////////////
.fifth {
    border-bottom: 1px solid $border-color;
    color: $dark-font;
    padding-bottom: 48px;
    width: 320px;
    @include media-breakpoint-up(sm) {
        padding-bottom: 51px;
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 85px;
        width: 545px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 90vw;
        padding-bottom: 118px;
        width: 1100px;
    }
    .fifth-over {
        font-size: 1.7em;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 45px 0px 0px 2px;
        @include media-breakpoint-up(sm) {
            font-size: 1em;
            letter-spacing: 1px;
            margin: 35px 0px 0px 5px;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.5em;
            letter-spacing: 0.2px;
            margin: 53px 0px 0px -2px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.9em;
            letter-spacing: 1px;
            margin: 75px 0px 0px 8px;
        }
    }
    .large-text {
    	position: relative;
        font-size: 4.3em;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 5px 0px 0px -10px;
        @include media-breakpoint-up(sm) {
            font-size: 2.6em;
            letter-spacing: 1.8px;
            margin: 5px 0px 0px -7px;
        }
        @include media-breakpoint-up(md) {
            font-size: 5.2em; 
            letter-spacing: 1px;
            margin: 3px 0px 0px 0px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 6.7em; 
            letter-spacing: 5px;
            margin: 8px 0px 0px 17px;
        }
        .exponent {
            margin: 4px 0px 0px -3px;
            @include media-breakpoint-up(sm) {
                margin: 2px 0px 0px 2px;
            }
            @include media-breakpoint-up(md) {
                margin: -1px 0px 0px 1px;
            }
            @include media-breakpoint-up(lg) {
                margin: -1px 0px 0px -2px;
            }
        }
    }
    .analyzed-text {
        font-size: 1.8em;
        letter-spacing: 0.8px;
        margin: 10px 0px 0px 0px;
        @include media-breakpoint-up(sm) {
            font-size: 1em;
            letter-spacing: 0.9px;
            margin: 5px 0px 0px 4px;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.5em;
            letter-spacing: 0.2px;
            margin: 17px 0px 0px -3px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 1.9em;
            letter-spacing: 1px;
            margin: 28px 0px 0px 7px;
        }
    }
}

///////////////////
//sixth-container//
///////////////////
.sixth {
    height: 434px;
    width: 320px;
    @include media-breakpoint-up(sm) {
        height: 223px;
        width: 370px;
    }
    @include media-breakpoint-up(md) {
        height: 301px;
        width: 500px;
    }
    @include media-breakpoint-up(lg) {
        height: 263px;
        width: 962px;
    }
    .employees-text {
        font-size: 2em;
        letter-spacing: 1.7px;
        line-height: 44px;
        margin: 48px 0px 0px 0px;
        @include media-breakpoint-up(sm) {
            font-size: 1.2em;
            letter-spacing: 0.9px;
            line-height: 27px;
            margin: 42px 0px 0px 0px;
        }
        @include media-breakpoint-up(md) {
            font-size: 1.9em;
            letter-spacing: 1.8px;
            line-height: 42px;
            margin: 72px 0px 0px 0px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 2.55em;
            letter-spacing: 2.8px;
            margin: 108px 0px 0px 10px;
        }
    }
    .logos-wrapper {
        margin: 40px 0px 0px 0px; 
        @include media-breakpoint-up(lg) {
            margin: 75px 0px 0px 0px;
        }
        ul {
            list-style: none; 
            padding: 0px 0px 0px 0px;
        }
        .logo {
            position: absolute;
        }
        .linkedin-logo {
            margin: 3px 0px 0px -10px;
            width: 137px;
            @include media-breakpoint-up(sm) {
                margin: 6px 0px 0px -5px;
                width: 83px;
            }
            @include media-breakpoint-up(md) {
                margin: 9px 0px 0px 50px;
                width: 88px;
            }
            @include media-breakpoint-up(lg) {
                margin: 0px 0px 0px 2px;
                width: 122px;
            }
        }
        .amazon-logo {
            margin: 3px 0px 0px 150px;
            width: 150px;
            @include media-breakpoint-up(sm) {
                margin: 6px 0px 0px 151px;
                width: 90px;
            }
            @include media-breakpoint-up(md) {
                margin: 10px 0px 0px 214px;
                width: 95px;
            }
            @include media-breakpoint-up(lg) {
                margin: 0px 0px 0px 226px;
                width: 129px;
            }
        }
        .apple-logo {
            margin: 83px 0px 0px 21px;
            width: 52px;
            @include media-breakpoint-up(sm) {
                margin: -3px 0px 0px 313px;
                width: 33px;
            }
            @include media-breakpoint-up(md) {
                margin: -1px 0px 0px 384px;
                width: 34px;
            }
            @include media-breakpoint-up(lg) {
                margin: -14px 0px 0px 460px;
                width: 46px;
            }
        }
        .cisco-logo {
            margin: 87px 0px 0px 153px;
            width: 116px;
            @include media-breakpoint-up(sm) {
                margin: 51px 0px 0px 78px;
                width: 70px;
            }
            @include media-breakpoint-up(md) {
                margin: 69px 0px 0px 116px;
                width: 73px;
            }
            @include media-breakpoint-up(lg) {
                margin: -10px 0px 0px 610px;
                width: 100px;
            }
        }
        .oracle-logo {
        	margin: 192px 0px 0px 75px;
            width: 140px;
            @include media-breakpoint-up(sm) {
                margin: 62px 0px 0px 220px;
                width: 88px;
            }
            @include media-breakpoint-up(md) {
                margin: 81px 0px 0px 265px;
                width: 88px;
            }
            @include media-breakpoint-up(lg) {
                margin: 1px 0px 0px 815px;
                width: 123px;
            }
        }
    }
}

//////////
//footer//
//////////
.footer {
	position: relative;
    border-top: 1px solid $border-color;
    width: 100vw;
    @include media-breakpoint-up(sm) {
        max-width: 90vw;
        width: 405px;
    }
    @include media-breakpoint-up(md) {
        width: 575px;
    }
    @include media-breakpoint-up(lg) {
        width: 1130px;
    }
    .numbers-text {
        font-size: 0.85em;
        margin: 14px 0px 0px -14px;
        @include media-breakpoint-up(sm) {
            font-size: 0.5em;
            margin: 8px 0px 0px 0px;
        }
        @include media-breakpoint-up(md) {
            letter-spacing: 0.1px;
            margin: 9px 0px 0px 0px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 0.7em;
            margin: 15px 0px 0px 0px;
        }
    }
    .copyright-text {
        font-size: 0.85em;
        margin: 29px 0px 0px 5px;
        @include media-breakpoint-up(sm) {
            font-size: 0.5em;
            margin: 9px 0px 0px 15px;
        }
        @include media-breakpoint-up(md) {
            margin: 9px 0px 0px 15px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 0.7em;
            margin: 17px 0px 0px 20px;
        }

        .copy-symbol {
        	position: absolute;
            font-size: 1.4em;
            left: 0;
            margin: -6px 0px 0px -130px;
            right: 0;
            @include media-breakpoint-up(sm) {
                font-size: 1.5em;
                margin: -4px 0px 0px -68px;
            }
            @include media-breakpoint-up(md) {
                font-size: 1.6em;
                margin: -5px 0px 0px -70px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 1.5em;
                margin: -5px 0px 0px -99px;
            }
        }
    }
}
